<!DOCTYPE html>
<html lang="fa">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head %}

    {% endblock %}
</head>

<body>

    <nav class="navbar">
        <h2 class="logo-navbar">محله شیل سر</h2>
        <ul>
            <li>
                <a href="/">صفحه اصلی</a>
            </li>
            <li>
                <a href="/posts/category/شالیزار/">شالیزار</a>
            </li>
            <li>
                <a href="/posts/category/تاریخچه/">تاریخچه</a>
            </li>
            <li>
                <a href="/posts/category/تصاویر/">گالری شیل سر</a>
            </li>
            <li>
                <a href="/posts/category/متفرقه/">متفرقه</a>
            </li>
        </ul>
    </nav>
    <hr>
    {% block content %}

    {% endblock %}
</body>

</html>